<mat-dialog-content>
    <h2 class="header">Edit contact</h2>
    <form [formGroup]="editContactForm" fxLayout="column">
        <mat-form-field appearance="fill">
            <mat-label>Enter a name</mat-label>
            <input
                matInput
                placeholder="Name"
                formControlName="name"
                (blur)="
                    errorGenerateService.setOnBlurErrorMessage(
                        'name',
                        editContactForm.controls['name']
                    )
                "
                (input)="
                    errorGenerateService.setErrorMessage(
                        'name',
                        editContactForm.controls['name'].errors
                    )
                " />
            <mat-error *ngIf="editContactForm.controls['name'].invalid">{{
                nameErrorMessage$ | async
            }}</mat-error>
        </mat-form-field>
        <mat-form-field appearance="fill">
            <mat-label>Enter an email</mat-label>
            <input
                matInput
                placeholder="mail@example.com"
                formControlName="email"
                (input)="
                    errorGenerateService.setErrorMessage(
                        'email',
                        editContactForm.controls['email'].errors
                    )
                " />
            <mat-error *ngIf="editContactForm.controls['email'].invalid">{{
                emailErrorMessage$ | async
            }}</mat-error>
        </mat-form-field>
        <mat-form-field appearance="fill">
            <mat-label>Enter a phone number</mat-label>
            <input
                matInput
                placeholder="123456789"
                formControlName="phone"
                (input)="
                    errorGenerateService.setErrorMessage(
                        'phone',
                        editContactForm.controls['phone'].errors
                    )
                " />
            <mat-error *ngIf="editContactForm.controls['phone'].invalid">{{
                phoneErrorMessage$ | async
            }}</mat-error>
        </mat-form-field>
    </form>
</mat-dialog-content>
<mat-dialog-actions>
    <button
        id="update-btn"
        mat-raised-button
        color="primary"
        type="submit"
        [disabled]="editContactForm.invalid"
        (click)="updateContact()"
        [mat-dialog-close]="true">
        Update
    </button>
</mat-dialog-actions>
