<form [formGroup]="contactsForm" fxLayout="column">
    <mat-form-field appearance="fill">
        <mat-label>Enter a name</mat-label>
        <input
            matInput
            placeholder="Name"
            formControlName="name"
            (blur)="
                errorGenerateService.setOnBlurErrorMessage(
                    'name',
                    contactsForm.controls['name']
                )
            "
            (input)="
                errorGenerateService.setErrorMessage(
                    'name',
                    contactsForm.controls['name'].errors
                )
            " />

        <mat-error *ngIf="contactsForm.controls['name'].invalid">{{
            nameErrorMessage$ | async
        }}</mat-error>
    </mat-form-field>
    <mat-form-field appearance="fill">
        <mat-label>Enter an email</mat-label>
        <input
            matInput
            placeholder="mail@example.com"
            formControlName="email"
            (blur)="
                errorGenerateService.setOnBlurErrorMessage(
                    'email',
                    contactsForm.controls['email']
                )
            "
            (input)="
                errorGenerateService.setErrorMessage(
                    'email',
                    contactsForm.controls['email'].errors
                )
            " />
        <mat-error *ngIf="contactsForm.controls['email'].invalid">{{
            emailErrorMessage$ | async
        }}</mat-error>
    </mat-form-field>
    <mat-form-field appearance="fill">
        <mat-label>Enter a phone number</mat-label>
        <input
            matInput
            placeholder="123456789"
            formControlName="phone"
            (blur)="
                errorGenerateService.setOnBlurErrorMessage(
                    'phone',
                    contactsForm.controls['phone']
                )
            "
            (input)="
                errorGenerateService.setErrorMessage(
                    'phone',
                    contactsForm.controls['phone'].errors
                )
            " />
        <mat-error *ngIf="contactsForm.controls['phone'].invalid">{{
            phoneErrorMessage$ | async
        }}</mat-error>
    </mat-form-field>

    <button
        mat-raised-button
        color="primary"
        type="submit"
        (click)="addContact()"
        [disabled]="contactsForm.invalid">
        Add contact
    </button>
</form>
