.list {
    list-style: none;
    padding-left: 0;
}

.item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(28, 173, 202);
    height: 50px;
    padding: 0 10px;
    
}

.item:nth-child(2n) {
    background-color: rgb(37, 81, 90);
    color: #ffffff;
}

.item:not(:last-child) {
    margin-bottom: 5px;
}

.item-button {
    cursor: pointer;
    background-color: #ffffff;
    border: none;
    border-radius: 2px;
}

.item-button:hover {
    background-color: rgb(173, 220, 229);
}

.notification {
    margin-top: 10px;
}