<form
  class="editForm"
  [formGroup]="editContactForm"
  fxLayout="column"
  (submit)="updateContact(formDirective)"
  #formDirective="ngForm"
>
  <span class="error" *ngIf="isControlInvalid('name')"
    >A name must contain only letters, numbers and spaces and to be longer than
    3 characters</span
  >
  <mat-form-field appearance="fill">
    <mat-label color="secondary">Enter a name</mat-label>
    <input matInput placeholder="Name" formControlName="name" required />
  </mat-form-field>
  <span class="error" *ngIf="isControlInvalid('email')"
    >An email must contain "@" sign</span
  >
  <mat-form-field appearance="fill">
    <mat-label>Enter an email</mat-label>
    <input
      matInput
      placeholder="mail@example.com"
      formControlName="email"
      required
    />
  </mat-form-field>
  <span class="error" *ngIf="isControlInvalid('phone')"
    >A phone number must consist of only numbers</span
  >
  <mat-form-field appearance="fill">
    <mat-label>Enter a phone number</mat-label>
    <input matInput placeholder="123456789" formControlName="phone" required />
  </mat-form-field>

  <button
    mat-raised-button
    color="primary"
    type="submit"
    [disabled]="editContactForm.invalid"
  >
    Update
  </button>
</form>
